@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(155deg, #4f46e5, #9333ea);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 25px;
}

.container {
  width: 100%;
  max-width: 750px;
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 18px;
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
  color:paleturquoise;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 35px;
}


.totals {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.box {
  flex: 1;
  padding: 18px;
  border-radius: 18px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  transition: 0.3s ease;
}

.box:hover {
  transform: scale(1.04);
}

.income-box { background: rgba(16, 185, 129, 0.85); }
.expense-box { background: rgba(239, 68, 68, 0.85); }
.balance-box { background: rgba(59, 130, 246, 0.85); }

.box p {
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
}


.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 18px;
}

.input-section input,
.input-section select {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.input-section input::placeholder {
  color: #ddd;
}

#add-btn, .reset {
  padding: 12px 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

#add-btn {
  background: #34d399;
}

#add-btn:hover {
  background: #059669;
}

.reset {
  background: #ef4444;
}

.reset:hover {
  background: #dc2626;
}


.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}


#entry-list {
  list-style: none;
}

.entry {
  background: rgba(255, 255, 255, 0.15);
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  transition: 0.25s;
}

.entry:hover {
  transform: scale(1.02);
}

.amount.income { color: #4ade80; }
.amount.expense { color: #f87171; }


.actions button {
  margin-left: 6px;
  padding: 6px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.edit {
  background: #3b82f6;
  color: white;
}

.delete {
  background: #ef4444;
  color: white;
}


@media (max-width: 650px) {
  .input-section {
    flex-direction: column;
  }

  .totals {
    flex-direction: column;
  }
}